#counter{text-align: center;}
input{
    color:#FF2D20;;
}

a {
    text-decoration: none;
    text-align: center;
    display:block;
    padding:5px;
}

a img{
    max-width: 120px;
    text-align: center;
}
.row{
    padding:5px;
}

h5{padding:5px;}

.left{
    text-align: left;
}
.category{
    color:#64748b;
    text-transform: uppercase;
}
.category-active{
    color:#95ff20;
}

.fa-eye.active{
    color: #8511ef;
}
.fa-heart.active{
    color: #8c1911;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 100px);
}
.close{
    background:#ffffff;
    border:0;
}
.di{display: inline;}
.tl{text-align: left;}

.popin{
    position: fixed;
    top: 50%;
    left:50%;
    width:500px;
    height:auto;
    margin:auto;
    background: #ffffff;
    padding:20px;
    border-radius: 25px;
    border: 1px solid #9ca3af;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.movie{
    float:left;
    width:200px;
}

.channel-pic, .serie-pic{
    height:100px;
    min-width:150px;
}

#burgerSidenavToggle{
    width:25px;
    height:25px;
    position:absolute;
    right:10px;
    top:10px;
    z-index:1;
}

@media (min-width: 1200px) {
    #burgerSidenavToggle {
        display: none !important;
    }
}

@media (max-width: 1199.98px) {
    body.sidenav-open .sidenav {
        transform: none !important;
    }

    body.sidenav-open {
        overflow: hidden;
    }

    /* Optionnel: Un overlay (arrière-plan sombre) quand le menu est ouvert */
    body.sidenav-open::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent noir */
        z-index: 1039; /* En dessous du sidenav */
        cursor: pointer; /* Indique qu'on peut cliquer pour fermer */
    }
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* gris transparent */
    z-index: 9998;
    display: none;
}

.loader {
    display:flex;
    margin: 50px auto auto;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
