#counter{text-align: center;}
input{
    color:#FF2D20;;
}

a {
    text-decoration: none;
    text-align: center;
    display:block;
    padding:5px;
}

a img{
    max-width: 120px;
    text-align: center;
}
.row{
    padding:5px;
}

h5{padding:5px;}

.left{
    text-align: left;
}
.category{
    color:#64748b;
    text-transform: uppercase;
}
.category-active{
    color:#95ff20;
}

.fa-eye.active{
    color: #8511ef;
}
.fa-heart.active{
    color: #8c1911;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 100px);
}
.close{
    background:#ffffff;
    border:0;
}
.di{display: inline;}
.tl{text-align: left;}

.popin{
    position: fixed;
    top: 50%;
    left:50%;
    width:500px;
    height:auto;
    margin:auto;
    background: #ffffff;
    padding:20px;
    border-radius: 25px;
    border: 1px solid #9ca3af;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.movie{
    float:left;
    width:200px;
}
